body {
    margin: auto;
    font-family: TelstraFont;
}
@font-face {
    font-family: TelstraFont;
    src: url("../fonts/TelstraGravur-Regular.otf");
}
#header {
    width: 100%;
    height: 7.5%;
    margin: auto;
    background: linear-gradient(to right, #35237F , #DCDEEE);
    /*background: black;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#content_panel {
    width: 100%;
    height: 90%;
    position: relative;
    overflow: auto;
    margin: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#content_top_canvas {
    top: 4%;
    left: 1%;
    right: 1%;
    height: 60%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content_bottom_left {
    border-radius: 25px;
    width: 48.5%;
    position: absolute;
    left: 1%;
    bottom: 6%;
    /*height: 35%;*/
    /*position: absolute;*/
    /*overflow: auto;*/
    /*margin: auto;*/
    background-color: rgba(0,1,0,0.4);
    display: flex;
    justify-content: center;
}
#content_bottom_right {
    border-radius: 25px;
    width: 48.5%;
    position: absolute;
    right: 1%;
    bottom: 6%;
    /*height: 35%;*/
    /*position:absolute;*/
    overflow: auto;
    margin: auto;
    background-color: rgba(0,1,0,0.4);
    display: flex;
    justify-content: center;
}
#footer {
    width: 100%;
    height: 10%;
    overflow: auto;
    margin: auto;
    position: absolute;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
#footer_details {
    color: #414141;
    font-weight: bold;
    letter-spacing: 0.5px;
    position: relative;
    text-align: center;
    white-space: pre-line;
}
.content_heading {
    opacity: .5%;
    color: #35237F;
    letter-spacing: 0.5px;
}
h3 {
    color: white;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

